@font-face {
    font-family: "Microsoft Sans Serif";

}
*{
    padding: 0;
    margin: 0;
}



.nav{
    max-width: 1440px;
    max-height: 1080px;
    background-color: #3155b2;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: azure;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;

}

.nav_a{
    text-decoration: none;
    color: azure;
}

.navigation:hover{
    background-color: #59aaee;
}

.nav_a:hover {
    background-color: #5c78ef;
}


.text_top_h1{
    font-family: "Microsoft Sans Serif";
    color: #070783;
    font-size: 36px;
    font-weight: lighter;
    margin-top: 100px;
    text-align: center;
}

.btn{
    display: flex;
    width: 210px;
    height: 60px;
    padding-left: 70px;
    padding-top: 18px;
    color: #e0e3f3;
    font-family: "Microsoft Sans Serif";
    font-size: large;
    background-color: #1616c7;
    margin-left: 620px;
    margin-top: 75px;
    border-radius: 30px;
}

.btn:hover{
    background-color: #132c93;
}

